<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>Are you sure?</h1>
            <form method="POST">
                {% csrf_token%}
                <button type="submit">Delete</button>
        </div>
    </main>
</body>

</html>
