<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>


<body>
    <main>
        <div>
            <h1>{{todoList.name}}</h1>
            <p><a href={% url "todo_list_update" todoList.id %}>Edit</a></p>
            <p><a href={% url "todo_list_delete" todoList.id %}>Delete</a></p>
            <h2>Tasks</h2>

            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                {% for task in todoList.items.all %}
                <tr>
                    <td><a href={%url "todo_item_update" task.id%}>{{task.task}}</a></td>
                    <td>{{task.due_date}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </main>
</body>

</html>
