<!DOCTYPE html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="POST">
                {% csrf_token%}
                {{item_form.as_p}}
                <button type="submit">Update</button>
        </div>
    </main>
</body>

</html>
